<div class="min-h-full p-4 dark:bg-slate-700">
    <h2 class="text-3xl mb-4 font-bold dark:text-slate-100">Sửa sản phẩm</h2>

    <app-toast-err></app-toast-err>

    <form class="grid grid-cols-2 gap-9" [formGroup]="editProductForm">
        <div>
            <app-custom-form-input 
                formControlName="name"
                [type] = "'text'"
                label = "Tên sản phẩm"
                [errors]="editProductForm.controls['name'].errors"
            ></app-custom-form-input>

            <app-custom-select
                formControlName="type"
                label="Loại sản phẩm"
                [options]="productTypes"
                selectedOptionLabel="Chọn loại sản phẩm"
                selectedOptionValue=""
                [errors]="editProductForm.controls['type'].errors"
            ></app-custom-select>
    
            <app-custom-number-input 
                formControlName="quantity"
                label = "Số lượng tồn"
                placeholder="vd: 20"
                align="left"
                thousands="."
                [errors]="editProductForm.controls['quantity'].errors"
            ></app-custom-number-input>
    
            <app-custom-number-input
                formControlName="price"
                label="Giá bán"
                placeholder="vd: 200.000 vnđ"
                suffix=" vnđ"
                align="left"
                thousands="."
                [errors]="editProductForm.controls['price'].errors"
            ></app-custom-number-input>
    
            <app-custom-textarea
                rows="4"
                formControlName="description" 
                label="Mô tả"
                placeholder="Viết mô tả..."
                [errors]="editProductForm.controls['description'].errors"
            ></app-custom-textarea>
        </div>

        <div>
            <app-custom-image-input
                formControlName="image"
                label="Hình ảnh"
                [defaultImgUrl]="defaultImgUrl"
                (imageUrl)="receiveImgUrl($event)"
                [errors]="editProductForm.controls['image'].errors"
            ></app-custom-image-input>

            <button type="button" [disabled]="editProductForm.invalid" (click)="saveChange()" class="text-white bg-gray-800 disabled:bg-gray-600 disabled:text-slate-300 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700">Sửa sản phẩm</button>
            <button routerLink="/dashboard/product" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700">Về trang danh sách</button>
        </div>
    </form>
</div>
