<div class="min-h-full p-4 dark:bg-slate-700">
  <div class="mb-5 flex justify-between">
    <h2 class="text-3xl font-bold dark:text-slate-100">Danh sách sản phẩm</h2>

    <button
      (click)="showModal()"
      type="button"
      class="text-white w-fit bg-gray-800 disabled:bg-gray-600 disabled:text-slate-300 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-semibold rounded-lg text-xs px-3 py-2 dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700"
    >
      Thêm mới
    </button>
  </div>

  <form class="flex-col justify-center items-center mt-6" [formGroup]="searchForm">
    <div class="grid grid-cols-6 gap-4">
        <app-custom-form-input 
            formControlName="name"
            [type] = "'text'"
            label = "Tên sản phẩm"
            inputClass="mt-2"
        ></app-custom-form-input>

        <!-- <app-custom-select
            formControlName="type"
            label="Loại sản phẩm"
            [options]="types"
            selectedOptionLabel="Tất cả"
            selectedOptionValue=""
        ></app-custom-select> -->

        <div class="mb-4" *ngIf="types">
          <label  class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Loại sản phẩm</label>
          <select 
              formControlName="type"
              [ngClass]="{
                  'my-input' : true,
                  'input-error': searchForm.controls['type'].dirty && searchForm.controls['type'].invalid
              }"
          >   
              <option selected value="">Tất cả</option>
              <ng-container *ngFor="let type of types">
                <optgroup *ngIf="type.parentId === 0 && quantityChildren(type.id!) > 0; else notChildren" label="{{ type.name }}">
                  <ng-container *ngFor="let typeChild of types">
                    <option *ngIf="typeChild.parentId === type.id" value="{{ typeChild.id }}">
                      {{ typeChild.name }}
                    </option>
                  </ng-container>
                </optgroup>
                <ng-template #notChildren>
                  <option *ngIf="type.parentId === 0" value="{{ type.id }}">
                    {{ type.name }}
                  </option>
                </ng-template>
              </ng-container>
          </select>
          <app-validate-input [label]="'Loại sản phẩm'" [isDirty]="searchForm.controls['type'].dirty" [errors]="searchForm.controls['type'].errors"></app-validate-input>
        </div>

        <app-custom-select
          formControlName="wood"
          label="Loại gỗ"
          [options]="woodTypes$ | async"
          selectedOptionLabel="Tất cả"
          selectedOptionValue=""
        ></app-custom-select>

        <app-custom-select
            formControlName="priceFrom"
            label="Giá từ"
            [options]="priceFromArr"
            selectedOptionLabel="Tất cả"
            selectedOptionValue=""
            optionsValue="value"
            optionsLabel="price"
        ></app-custom-select>

        <app-custom-select
            formControlName="priceTo"
            label="Giá đến"
            [options]="priceToArr"
            selectedOptionLabel="Tất cả"
            selectedOptionValue=""
            optionsValue="value"
            optionsLabel="price"
        ></app-custom-select>

        <div class="mb-4 flex items-end">
          <button (click)="searchProduct()" type="button" class="py-2 px-3 w-fit text-xs font-medium text-center text-white bg-gray-900 rounded-lg hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-800">Lọc sản phẩm</button>
        </div>   
    </div>
  </form>

  <!-- <app-toast-err></app-toast-err> -->

  <div
    *ngIf="isLoading$ | async"
    class="flex items-center justify-center w-100 h-96"
  >
    <div
      class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200"
    >
      loading...
    </div>
  </div>

  <div *ngIf="!(isLoading$ | async)">
    <div
      class="grid grid-cols-1 mt-6 md:grid-cols-2 lg:grid-cols-4 justify-center gap-5"
    >
      <!-- <app-product-card *ngFor="let product of products$ | async | paginate: { itemsPerPage, currentPage: p }" [product]="product"></app-product-card> -->
      <div
        *ngFor="
          let product of products$
            | async
            | paginate : { itemsPerPage, currentPage: p }
        "
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="overflow-hidden h-60">
          <img
            class="rounded-t-lg"
            src="{{ product.image }}"
            alt="{{ product.name }}"
          />
        </div>
        <div class="p-5">
          <h5
            class="mb-1 text-lg font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ product.name }}
          </h5>

          <div class="flex justify-between mb-1">
            <p class="text-sm font-normal text-gray-900 dark:text-white">
              Mã sản phẩm: {{ product.id }}
            </p>
            <p class="text-sm font-normal text-gray-900 dark:text-white">
              Còn lại: {{ product.quantity }}
            </p>
          </div>

          <p class="text-sm font-normal text-gray-900 dark:text-white mb-1">
            Loại sản phẩm: {{ product.type_name }}
          </p>

          <div class="flex items-center gap-2 mb-1">
            <div class="stars">
              <ngx-star-rating
                ngModel="{{ product.starTotal }}"
                [id]="'rating'"
                [disabled]="true"
              ></ngx-star-rating>
            </div>
            <span
              (click)="showComment(product.id)"
              class="text-sm hover:underline hover:cursor-pointer"
            >
              (Xem {{ product.amountComment }} đánh giá)
            </span>
          </div>

          <p class="mb-4 text-sm font-normal text-gray-900 dark:text-white">
            Giá bán:
            <span class="text-red-700 dark:text-red-500 font-semibold">{{
              product.price | currency : "VND" : "vnđ" : "" : "vi"
            }}</span>
          </p>

          <div class="flex justify-between mb-1">
            <button
              (click)="showModal(product.id)"
              type="button"
              class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-9 py-2.5 text-center inline-flex items-center dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
            >
              Sửa
              <svg
                class="ml-2 -mr-1 w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                ></path>
              </svg>
            </button>
            <button
              (click)="deleteProduct(product.id!)"
              type="button"
              class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-9 py-2.5 text-center inline-flex items-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
            >
              Xóa
              <svg
                class="ml-2 -mr-1 w-5 h-5"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 flex justify-center items-center">
      <pagination-controls
        previousLabel=""
        nextLabel=""
        class="paginator"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  #modalEl
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full"
>
  <div class="relative w-full h-full max-w-6xl md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button
        (click)="hideModal()"
        type="button"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
        data-modal-hide="authentication-modal"
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <p class="mb-6 text-xl font-semibold dark:text-white">{{ titileModal }} sản phẩm</p>
        <form
          class="max-h-96 w-full p-2 overflow-y-scroll"
          [formGroup]="productForm"
        >
          <div class="grid grid-cols-2 gap-9">
            <div>
              <app-custom-form-input
                formControlName="name"
                [type]="'text'"
                label="Tên sản phẩm"
                [errors]="productForm.controls['name'].errors"
              ></app-custom-form-input>

              <app-custom-select
                formControlName="wood"
                label="Loại gỗ"
                [options]="woodTypes$ | async"
                selectedOptionLabel="Chọn loại gỗ"
                selectedOptionValue=""
                [errors]="productForm.controls['wood'].errors"
              ></app-custom-select>

              <app-custom-number-input
                formControlName="quantity"
                label="Số lượng"
                placeholder="vd: 20"
                align="left"
                thousands="."
                [errors]="productForm.controls['quantity'].errors"
              ></app-custom-number-input>
            </div>

            <div>
              <!-- <app-custom-select
                formControlName="type"
                label="Loại sản phẩm"
                [options]="types$ | async"
                selectedOptionLabel="Chọn loại sản phẩm"
                selectedOptionValue=""
                [errors]="productForm.controls['type'].errors"
              ></app-custom-select> -->

              <div class="mb-4" *ngIf="types">
                <label  class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Loại sản phẩm</label>
                <select 
                    formControlName="type"
                    [ngClass]="{
                        'my-input' : true,
                        'input-error': productForm.controls['type'].dirty && productForm.controls['type'].invalid
                    }"
                >   
                    <option selected value="">Chọn loại sản phẩm</option>
                    <ng-container *ngFor="let type of types">
                      <optgroup *ngIf="type.parentId === 0 && quantityChildren(type.id!) > 0; else notChildren" label="{{ type.name }}">
                        <ng-container *ngFor="let typeChild of types">
                          <option *ngIf="typeChild.parentId === type.id" value="{{ typeChild.id }}">
                            {{ typeChild.name }}
                          </option>
                        </ng-container>
                      </optgroup>
                      <ng-template #notChildren>
                        <option *ngIf="type.parentId === 0" value="{{ type.id }}">
                          {{ type.name }}
                        </option>
                      </ng-template>
                    </ng-container>
                </select>
                <app-validate-input [label]="'Loại sản phẩm'" [isDirty]="productForm.controls['type'].dirty" [errors]="productForm.controls['type'].errors"></app-validate-input>
              </div>

              <div>
                <label class="block text-sm font-semibold text-slate-700"
                  >Kích thước</label
                >
                <div class="grid grid-cols-3 gap-2">
                  <app-custom-form-input
                    formControlName="length"
                    [type]="'text'"
                    label="Chiều dài"
                    [hideLabel]="true"
                    placeholder="dài(cm)"
                    [errors]="productForm.controls['length'].errors"
                  ></app-custom-form-input>
                  <app-custom-form-input
                    formControlName="width"
                    [type]="'text'"
                    label="Chiều rộng"
                    [hideLabel]="true"
                    placeholder="rộng(cm)"
                    [errors]="productForm.controls['width'].errors"
                  ></app-custom-form-input>
                  <app-custom-form-input
                    formControlName="height"
                    [type]="'text'"
                    label="Chiều cao"
                    [hideLabel]="true"
                    placeholder="cao(cm)"
                    [errors]="productForm.controls['height'].errors"
                  ></app-custom-form-input>
                </div>
              </div>

              <app-custom-number-input
                formControlName="price"
                label="Giá bán"
                placeholder="vd: 200.000 vnđ"
                suffix=" vnđ"
                align="left"
                thousands="."
                [errors]="productForm.controls['price'].errors"
              ></app-custom-number-input>
            </div>
          </div>

          <app-custom-text-rich
            formControlName="description"
            label="Mô tả"
            placeholder="Viết mô tả..."
            [errors]="productForm.controls['description'].errors"
          ></app-custom-text-rich>

          <div>
            <label
              class="block mb-2 text-sm font-bold text-gray-900 dark:text-white"
              >Hình ảnh</label
            >
            <div
              class="grid grid-cols-5 gap-2"
              formArrayName="images"
              *ngIf="images.controls.length"
            >
              <div class="mb-2" *ngFor="let c of images.controls; index as i">
                <ng-container *ngIf="isAdd; else isEdit">
                    <app-custom-image-input
                        [formControlName]="i"
                        inputClass="w-[80%]"
                        (imageUrl)="receiveImgUrl($event, i)"
                        [errors]="images.at(i).errors"
                    ></app-custom-image-input>
                </ng-container>

                <ng-template #isEdit>
                    <ng-container *ngIf="defaultImgUrl">
                      <app-custom-image-input
                          [formControlName]="i"
                          [defaultImgUrl]="defaultImgUrl[i]"
                          (imageUrl)="receiveImgUrl($event, i)"
                          inputClass="w-[80%]"
                          [errors]="images.at(i).errors"
                      ></app-custom-image-input>
                    </ng-container>
                </ng-template>

                <button
                  (click)="removeImage(i)"
                  *ngIf="images.controls.length > 1"
                  class="text-white bg-gray-800 disabled:bg-gray-600 disabled:text-slate-300 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700"
                >
                  Xóa ảnh
                </button>
              </div>
            </div>
            <a
              class="flex items-center text-sm font-normal text-blue-600 cursor-pointer hover:underline"
              (click)="addImage()"
            >
              <svg
                class="flex-shrink-0 w-6 h-6"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 4.5v15m7.5-7.5h-15"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                ></path>
              </svg>
              <span class="ml-1">Thêm ảnh</span>
            </a>
          </div>
        </form>
        <button
          type="button"
          (click)="saveNew()"
          [disabled]="productForm.invalid"
          class="text-white w-fit bg-gray-800 disabled:bg-gray-600 disabled:text-slate-300 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-sm px-5 py-2.5 mr-2 my-6 dark:bg-gray-800 dark:hover:bg-gray-900 dark:focus:ring-gray-700 dark:border-gray-700"
        >
          {{ titileModal }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Comment -->
<div
  #commentEl
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full"
>
  <div class="relative w-full h-full max-w-2xl md:h-auto">
    <!-- Modal content -->
    <div *ngIf="product" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button
        (click)="hideComment()"
        type="button"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
        data-modal-hide="authentication-modal"
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <p class="mb-6 text-xl font-semibold dark:text-white">Đánh giá sản phẩm ({{ product.name }})</p>
        <div *ngIf="commentList$ | async as commentList">
          <div *ngIf="commentList.length > 0; else noComment">
              <div *ngFor="let comment of commentList">
                  <hr class="my-4">
                  <div class="grid grid-cols-6">
                      <div class="col-span-2 flex">
                        <div class="w-7 h-7 rounded-full overflow-hidden mr-2">
                          <img src="{{ comment.avatar }}" alt="avatar">
                        </div>
                        <div>
                          <p class="text-sm font-bold">{{ comment.username }}</p>
                          <p class="text-xs">{{ comment.time | date: 'd/M/yyy HH:mm' }}</p>
                        </div>
                      </div>
                      <div class="col-span-4">
                          <div class="flex items-center gap-3">
                              <div class="stars">
                                  <ngx-star-rating ngModel="{{ comment.star }}" [id]="'rating'" [disabled] ="true"></ngx-star-rating>
                              </div >
                              <span class="text-sm font-semibold">{{ starLabel[comment.star] }}</span>
                          </div>
                          <p class="text-green-400 text-xs flex items-center">
                              <svg 
                                  class="w-4 h-4 mr-2"
                                  fill="none"
                                  stroke="currentColor"
                                  viewBox="0 0 24 24"
                                  xmlns="http://www.w3.org/2000/svg"
                              >
                                  <path d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                              </svg>
                              Đã mua hàng
                          </p>
                          <div class="mt-3 text-sm">
                              {{ comment.message }}
                          </div>
                          <div *ngIf="comment.image" class="mt-3">
                            <img class="w-20" src="{{ comment.image }}" alt="comment image">
                        </div>
                      </div>
                  </div >
              </div>
              
          </div>
          <ng-template #noComment>
              <div class="h-16 flex justify-center items-center">
                  <span class="text-center font-medium text-sm">Sản phẩm chưa có bình luận nào !!!</span>
              </div>
          </ng-template>
        </div >
      </div>
    </div>
  </div>
</div>

