<div class="mb-4 {{ containerClass }}">
    <label  class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">{{ label }}</label>
    <select 
        [ngClass]="{
            'my-input' : true,
            'input-error': isDirty && errors
        }"
        class= "{{ inputClass }}"
        [(ngModel)]="input"
        (blur)="onTouched()"
        (change)="onChange($event)"
        [disabled]="isDisabled"
    >   
        <option *ngIf="selectedOptionValue || selectedOptionLabel" selected value="{{ selectedOptionValue }}">{{ selectedOptionLabel }}</option>
        <option *ngFor="let option of options" [value]="option[optionsValue]">
            {{ option[optionsLabel] }}
        </option>
    </select>
    <app-validate-input [label]="label" [isDirty]="isDirty" [errors]="errors"></app-validate-input>
</div>
