div.stars {
    display: inline-block;
}

:host::ng-deep label.star {
    padding: 0 4px 0 0 !important;
    font-size: 16px !important;
    color: #ddd !important;
    &::before {
        content: "\f005" !important;
    }
    &:hover {
        transform: rotate(0deg) scale(1) !important;
    }
}

:host::ng-deep input.star-5:checked ~ label.star::before {
    color: #ffdd44 !important;
    text-shadow: 0 0 0 #ffdd44 !important;
}