<div class="min-h-full p-4  dark:bg-slate-700">
    <h2 class="text-3xl mb-4 font-bold dark:text-slate-100">Tìm kiếm sản phẩm</h2>

    <form class="flex-col justify-center items-center mt-6" [formGroup]="searchForm">
        <div class="grid grid-cols-4 gap-4">
            <app-custom-form-input 
                formControlName="name"
                [type] = "'text'"
                label = "Tên sản phẩm"
                inputClass="mt-2"
            ></app-custom-form-input>

            <app-custom-select
                formControlName="type"
                label="Loại sản phẩm"
                [options]="types"
                selectedOptionLabel="Tất cả"
                selectedOptionValue=""
            ></app-custom-select>

            <app-custom-select
                formControlName="priceFrom"
                label="Giá từ"
                [options]="priceFromArr"
                selectedOptionLabel="Tất cả"
                selectedOptionValue=""
                optionsValue="value"
                optionsLabel="price"
            ></app-custom-select>

            <app-custom-select
                formControlName="priceTo"
                label="Giá đến"
                [options]="priceToArr"
                selectedOptionLabel="Tất cả"
                selectedOptionValue=""
                optionsValue="value"
                optionsLabel="price"
            ></app-custom-select>

        </div>

        <div class="flex justify-center gap-4">
            <button (click)="searchProduct()" type="button" class="py-2 px-3 text-sm font-medium text-center text-white bg-gray-900 rounded-lg hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-800">Tìm kiếm</button>
            <button type="reset" class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
        </div>
    </form>
    <hr class="mt-6 w-96 mx-auto">

    <div *ngIf="products">
        <div *ngIf="products.length > 0; else notFound" class="grid grid-cols-1 mt-6 md:grid-cols-2 lg:grid-cols-4 justify-center gap-5"> 
            <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
        </div>  
        <ng-template #notFound>
            <p class="text-center font-bold">
                Không có sản phẩm nào được tìm thấy!
            </p>
        </ng-template>
    </div>
</div>