<div class="h-full p-4  dark:bg-slate-700">
    <h2 class="text-3xl mb-4 font-bold dark:text-slate-100">Tìm kiếm sản phẩm</h2>

    <form class="flex-col justify-center items-center mt-6" [formGroup]="searchForm">
        <div class="grid grid-cols-4 gap-4">
            <div class="mb-6">
                <span class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Tên sản phẩm</span>
                <input
                    type="text"
                    formControlName="name"
                    class="my-input"
                />
            </div>
            <div class="mb-6">
                <label  class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Loại sản phẩm</label>
                <select 
                    formControlName="type"
                    class="my-input"
                >   
                    <option selected value="">Tất cả</option>
                    <option *ngFor="let type of types" value="{{ type.id }}">
                        {{ type.name }}
                    </option>
                </select>
            </div>
    
            <div class="mb-6">
                <span class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Giá từ</span>
                <select 
                    formControlName="priceFrom"
                    class="my-input"
                >   
                    <option selected value="">Tất cả</option>
                    <option value="50000">50,000</option>
                    <option value="100000">100,000</option>
                    <option value="200000">200,000</option>
                    <option value="300000">300,000</option>
                    <option value="400000">400,000</option>
                </select>
            </div>
    
            <div class="mb-6">
                <span class="block mb-2 text-sm font-semibold text-gray-900 dark:text-white">Giá đến</span>
                <select 
                    formControlName="priceTo"
                    class="my-input"
                >   
                    <option selected value="">Tất cả</option>
                    <option value="400000">400,000</option>
                    <option value="500000">500,000</option>
                    <option value="600000">600,000</option>
                    <option value="700000">700,000</option>
                    <option value="800000">800,000</option>
                    <option value="900000">900,000</option>
                    <option value="1000000">1,000,000</option>
                    <option value="2000000">2,000,000</option>
                </select>
            </div>

        </div>

        <div class="flex justify-center gap-4">
            <button (click)="searchProduct()" type="button" class="py-2 px-3 text-sm font-medium text-center text-white bg-gray-900 rounded-lg hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-900 dark:hover:bg-gray-800 dark:focus:ring-gray-800">Tìm kiếm</button>
            <button type="reset" class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
        </div>
    </form>
    <hr class="mt-6 w-96 mx-auto">

    <div class="grid grid-cols-1 mt-6 md:grid-cols-2 lg:grid-cols-4 justify-center gap-5"> 
        <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    
    </div> 
</div>
