<div class="">
    <nav class="bg-gray-50 border-gray-200 px-2 sm:px-5 py-2.5 dark:bg-gray-800 fixed left-0 right-0">
        <div class="flex items-center justify-between mx-auto">
          <a class="flex items-center" routerLink="/dashboard/home">
            <img
              src="../../../assets/logo.png"
              class="h-9 mr-3 sm:h-12"
              alt="Logo"
            />
            <span
              class="self-center text-xl md:text-2xl font-extrabold whitespace-nowrap dark:text-white"
              >MộcPhúc.</span
            >
          </a>
        </div>
    </nav>
    <div class="h-screen flex flex-col justify-center items-center">
        <p class="text-origin text-6xl font-bold mb-3">404</p>
        <p class="text-xl font-medium">Page Not Found</p>
        <a
            routerLink="/dashboard/home"
            class="text-blue-600 hover:underline"
        >
            Về lại trang chủ
        </a>
    </div>
</div>
