<div class="h-full p-4 dark:bg-slate-700">
    <h2 class="text-3xl mb-4 font-bold dark:text-slate-100">Đổi mật khẩu</h2>

    <form class="mt-3" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="mb-4">
          <span class="block text-sm font-bold text-slate-700 mb-1">Nhập password cũ</span>
          <input
            [type]="typePass"
            formControlName="oldPassword"
            [ngClass]="{
                  'my-input' : true,
                  'input-error': (changePasswordForm.controls['oldPassword'].dirty &&
                  changePasswordForm.hasError('required', 'oldPassword'))
              }"
          />
          <p
            class="text-sm text-pink-600"
            *ngIf="
              changePasswordForm.controls['oldPassword'].dirty &&
              changePasswordForm.hasError('required', 'oldPassword')
            "
          >
            *Password cũ không được trống
          </p>
      </div>
      <div class="mb-4">
        <span class="block text-sm font-bold text-slate-700 mb-1">Nhập password mới</span>
        <input
          [type]="typePass"
          formControlName="password"
          [ngClass]="{
                'my-input' : true,
                'input-error': (changePasswordForm.controls['password'].dirty &&
                changePasswordForm.hasError('required', 'password'))
            }"
        />
        <p
          class="text-sm text-pink-600"
          *ngIf="
            changePasswordForm.controls['password'].dirty &&
            changePasswordForm.hasError('required', 'password')
          "
        >
          *Password mới không được trống
        </p>
      </div>
      <div class="mb-4">
          <span class="block text-sm font-bold text-slate-700 mb-1">Nhập lại password</span>
          <input
            [type]="typePass"
            formControlName="confirmPassword"
            [ngClass]="{
                  'my-input' : true,
                  'input-error': (changePasswordForm.controls['confirmPassword'].dirty &&
                  changePasswordForm.hasError('required', 'confirmPassword'))
              }"
          />
          <p
            class="text-sm text-pink-600"
            *ngIf="
              changePasswordForm.controls['confirmPassword'].dirty &&
              changePasswordForm.hasError('required', 'confirmPassword')
            "
          >
            *Password nhập lại không được trống
          </p>
          <p
            class="text-sm text-pink-600"
            *ngIf="
              changePasswordForm.controls['confirmPassword'].dirty &&
              changePasswordForm.hasError('mismatch')
            "
          >
            *Password nhập lại không trùng!
          </p>
      </div>
      <div class="mb-4">
        <input
          (change)="showHidePass()"
          type="checkbox"
          class="border border-slate-300 rounded-md shadow-sm focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
        />
        <span class="ml-2 text-xs font-bold">Hiện password</span>
      </div>
      <div class="mb-4">
          <button [disabled]="changePasswordForm.invalid" type="submit" class="text-white bg-gray-800 disabled:bg-gray-600 disabled:text-slate-300 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
              Đổi mật khẩu
          </button>
      </div>
    </form>
</div>

