<div class="min-h-full p-4 dark:bg-slate-700">
    <div class="mb-6 flex justify-between items-center"> 
        <h2 class="text-3xl font-bold dark:text-slate-100">Đánh giá sản phẩm ({{ product.name }})</h2>
        <span (click)="goBack()" class="text-blue-600 hover:underline hover:cursor-pointer">Quay lại</span>
    </div>

    <div *ngIf="commentList$ | async as commentList">
        <div *ngIf="commentList.length > 0; else noComment">
            <div *ngFor="let comment of commentList">
                <hr class="my-4">
                <div class="grid grid-cols-6">
                    <div class="col-span-1">
                        <p class="text-sm font-bold">{{ comment.username }}</p>
                        <p class="text-xs">{{ comment.time | date: 'd/M/yyy hh:mm' }}</p>
                    </div>
                    <div class="col-span-5">
                        <div class="flex items-center gap-3">
                            <div class="stars">
                                <ngx-star-rating ngModel="{{ comment.star }}" [id]="'rating'" [disabled] ="true"></ngx-star-rating>
                            </div >
                            <span class="text-sm font-semibold">{{ starLabel[comment.star] }}</span>
                        </div>
                        <p class="text-green-400 text-xs flex items-center">
                            <svg 
                                class="w-4 h-4 mr-2"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                            </svg>
                            Đã mua hàng
                        </p>
                        <div class="mt-3 text-sm">
                            {{ comment.message }}
                        </div>
                    </div>
                </div >
            </div>
            
        </div>
        <ng-template #noComment>
            <div class="h-16 flex justify-center items-center">
                <span class="text-center font-medium text-sm">Sản phẩm chưa có bình luận nào !!!</span>
            </div>
        </ng-template>
    </div >
</div>
